div {
    box-sizing: border-box;
}

#nav {
    background-color: blueviolet;
    height: 20vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#izquierda {
    background-color: aqua;
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#centro {
    background-color: aquamarine;
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#derecha {
    background-color: brown;
    height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#footer {
    background-color: blanchedalmond;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}